<div class="art-form mx-auto p-5">
  <%= form_with model: @article do |f| %>
    <%= display_errors(article) %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: 'Add Title' %> 
    </div>
    <div class="field">
      <%= f.label :type %>
      <%= f.select :type_id, Type.all.map {|c| [c.name, c.id] }%>
    </div>
    <div class="field">
      <%= f.label :body%>
      <%= f.rich_text_area :body, placeholder: 'Add content' %> 
    </div>
    <div>
      <h3>Article Sources</h3>
      <%= f.fields_for :sources do |s| %>
        
        <div class="field">
          <%= s.label :title%>
          <%= s.text_field :title %>
        </div>
        <div class="field">
          <%= s.label :body %>
          <%= s.rich_text_area :body %>
        </div>
      <% end %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
