<section class="container w-90">
  <div class="row">
    <div class="col-8">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= @articles.first.title %>
            <%= image_tag(@articles.first.cover.variant(resize: "800x350!").processed)%>
          </div>
          <div class="carousel-item">
            <%= @articles.second.title %>
            <%= image_tag(@articles.second.cover.variant(resize: "800x350!").processed)%>
          </div>
          <div class="carousel-item">
            <%= @articles.third.title %>
            <%= image_tag(@articles.third.cover.variant(resize: "800x350!").processed)%>
          </div>
          <div class="carousel-item">
            <%= @articles.fourth.title %>
            <%= image_tag(@articles.fourth.cover.variant(resize: "800x350!").processed)%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <% @types.first(4).each do |type| %>
      <div class="col-3">
        <%=type.name%>
        <%= image_tag(type.background.variant(resize: "250x250!").processed)%>
      </div>
    <%end%>
  </div>
</section>
<section class="container w-90">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pills-sports-tab" data-toggle="pill" href="#pills-sports" role="tab" aria-controls="pills-sports" aria-selected="true">Sports</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-entertainment-tab" data-toggle="pill" href="#pills-entertainment" role="tab" aria-controls="pills-entertainment" aria-selected="false">Entertainment</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-travel-tab" data-toggle="pill" href="#pills-travel" role="tab" aria-controls="pills-travel" aria-selected="false">Travel</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-politics-tab" data-toggle="pill" href="#pills-politics" role="tab" aria-controls="pills-politics" aria-selected="false">Politics</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-tech-tab" data-toggle="pill" href="#pills-tech" role="tab" aria-controls="pills-tech" aria-selected="false">Tech</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-business-tab" data-toggle="pill" href="#pills-business" role="tab" aria-controls="pills-business" aria-selected="false">Business</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-fashion-tab" data-toggle="pill" href="#pills-fashion" role="tab" aria-controls="pills-fashion" aria-selected="false">Fashion</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-sports" role="tabpanel" aria-labelledby="pills-sports-tab">
      <div class="container">
        <%@sports.articles.each do |article|%>
          <div class="row">
            <div class="col-8">
              <%= image_tag(article.cover_thumbnail) %>
            </div>
            <div class="col-4">
              <%= link_to article.title, article %>
              <%= vote_or_dislike_btn(article) %>
              <br>
              <%= article.body %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-entertainment" role="tabpanel" aria-labelledby="pills-entertainment-tab">
      <div class="container">
        <%@entertainment.articles.each do |article|%>
          <div class="row">
            <div class="col-8">
              <%= image_tag(article.cover_thumbnail) %>
            </div>
            <div class="col-4">
              <%= link_to article.title, article %>
              <%= vote_or_dislike_btn(article) %>
              <br>
              <%= article.body %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-travel" role="tabpanel" aria-labelledby="pills-travel-tab">
      <div class="container">
        <%@travel.articles.each do |article|%>
          <div class="row">
            <div class="col-8">
              <%= image_tag(article.cover_thumbnail) %>
            </div>
            <div class="col-4">
              <%= link_to article.title, article %>
              <%= vote_or_dislike_btn(article) %>
              <br>
              <%= article.body %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-politics" role="tabpanel" aria-labelledby="pills-politics-tab">
      <div class="container">
        <%@politics.articles.each do |article|%>
          <div class="row">
            <div class="col-8">
              <%= image_tag(article.cover_thumbnail) %>
            </div>
            <div class="col-4">
              <%= link_to article.title, article %>
              <%= vote_or_dislike_btn(article) %>
              <br>
              <%= article.body %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-tech" role="tabpanel" aria-labelledby="pills-tech-tab">
      <div class="container">
        <%@tech.articles.each do |article|%>
          <div class="row">
            <div class="col-8">
              <%= image_tag(article.cover_thumbnail) %>
            </div>
            <div class="col-4">
              <%= link_to article.title, article %>
              <%= vote_or_dislike_btn(article) %>
              <br>
              <%= article.body %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-business" role="tabpanel" aria-labelledby="pills-business-tab">
      <div class="container">
        <%@business.articles.each do |article|%>
          <div class="row">
            <div class="col-8">
              <%= image_tag(article.cover_thumbnail) %>
            </div>
            <div class="col-4">
              <%= link_to article.title, article %>
              <%= vote_or_dislike_btn(article) %>
              <br>
              <%= article.body %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-fashion" role="tabpanel" aria-labelledby="pills-fashion-tab">
      <div class="container">
        <%@fashion.articles.each do |article|%>
          <div class="row">
            <div class="col-8">
              <%= image_tag(article.cover_thumbnail) %>
            </div>
            <div class="col-4">
              <%= link_to article.title, article %>
              <%= vote_or_dislike_btn(article) %>
              <br>
              <%= article.body %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</section>