<!DOCTYPE html>
<html>
  <head>
    <title>CsMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/cf19c7517f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="sticky-top">
      <div id="flash"><%= flash_message%></div>
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <%= link_to 'CS Media', root_path, class: "navbar-brand p-2"%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse py-1 w-100" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Tech', type_path(3), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Politics', type_path(4), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Businnes', type_path(5), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Entertainment', type_path(2), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sports', type_path(1), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Fashion', type_path(6), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Travel', type_path(7), class: "nav-link mr-md-5" %>
            </li>
            <% if current_user %>
              <li class="nav-item">
                <%= link_to 'Create Article |', new_article_path, class: 'nav-link ml-md-5' %>
              </li>
              <li class="nav-item">
                <%= link_to "#{current_user.name.capitalize}", user_path(current_user.id), class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to '| Sign out', destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign in', user_session_path, class: "nav-link ml-md-5" %>
              </li>
            <% end %>
          </ul>
        </div>
          <div class="collapse fade" id="searchForm">
            <form class="form-inline my-1 my-md-0" action="/search">
              <input class="form-control w-50" name="q" type="text" placeholder="Search" aria-label="Search">
              <button class="btn-sm btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
          <a class="nav-link ml-1" href="#searchForm" data-target="#searchForm" data-toggle="collapse">
            <i class="fas fa-search my-subtitle"></i>
          </a>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="d-flex fixed-bottom">
      <div class="w-25 pt-2">
        <%= link_to 'CS Media', root_path, class: " my-text p-2 mr-md-5"%>
      </div>
      <nav class="w-50 py-1">
        <ul class="nav d-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link my-color" href="#!">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-color" href="#!">Terms & Conditions</a>
          </li>
        </ul>
      </nav>
      <div class="w-25 d-flex pt-1">
        <p class="my-text py-1">Connect with us:</p>
        <i class="fab fa-twitter-square fa-2x my-color mx-2"></i>
        <i class="fab fa-instagram-square fa-2x my-color"></i>
        <i class="fab fa-facebook-square fa-2x my-color ml-2"></i>
      </div>
    </footer>
  </body>
</html>
